body {
  background-color: yellow;
}

h1 {
  color: red;
}

#container {
  width: 90%;
  padding: 1.5%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 16.66666667%;
  /* height: auto; */
}

#found {
  transform: scale(.1)
}

@media only screen and (max-width: 960px){
  .img {
    width: 20%;
  }
}

@media only screen and (max-width: 700px) {
  .img {
    width: 25%;
  }
}

@media only screen and (max-width: 430px){
  .img {
    width: 33.33%;
  }
}